<ul>
    {% for post in postslist %}
       <h2>{{ title }}</h2>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
<p> {{ content | safe }}</p>
        <li>
            <strong>
                <a href="{{ post.url | url}}">{{ post.data.title }}</a>
            </strong>
            -
            <span>
                {{ post.data.description}}
            </span>
        </li>
    {% endfor %}
</ul>