<ul>
    {% for post in postslist %}
        <li>
                <img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
            -
            <span>
                {{ post.data.description}}
            </span>
        </li>
    {% endfor %}
</ul>