<html>
    <head>
        <title>Posta Press</title>
    </head>
    <body>
        <h1>
        POSTA PRESS
        </h1>
    <footer>
        <p>
            POSTA is a platform specialized in art publications, founded by Gallery Nectari and DesignTbilisi in 2015, in Tbilisi. Along with the editorial work, the platform unites diverse publication projects initiated in the art space.<br>
            <br> 
            NINO SEKHNIASHVILI<br>
            is an artist and founder of the gallery „nectar“ (Tbilisi) which exists since 2013. <br>
             <br>
            GIORGI TSAGARELI<br>
            studyed interior design at Tbilisi art academy. He is the editor of newspaper DesignTbilisi and expert in permaculture.<br>
             <br>
            TIMUR AKHMETOV<br>
            is an artist and designer based in Tbilisi. 2013 graduated from Gerrit Rietveld Academy and in 2019 made his MFA at Piet Zwart, Willem De Koning Academy. In Tbilisi he also runs Budka, artist run bar and cultural platform.<br>
        </p>
    </footer>        
        {{ content | safe }}
    </body> 
</html>